.section {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  background: linear-gradient(to bottom, #ffffff, #ffe66d);
}

.about {
  background: linear-gradient(to bottom, #ffe66d, #f4845f);
}
.classes {
  background: linear-gradient(to bottom, #f4845f, #3066be);
}

.skills {
  background-color: #3066be;
  color: #fff;
}

img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.skillList {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
